<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/">
      <input name="room" placeholder="Enter Room" type="text" />
      <button type="submit">Submit</button>
    </form>
    <a href="canvasL.html">draw</a>
  </body>
</html>
